label{
  margin-bottom: 0.5rem;
}

.select-style{
  width:75%;
  height:47%
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched{
  border: 1px solid red; /* red */
}

// .details-column{
//   margin: auto
// }
